<div id="createDashboardModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="icon icon-remove"></i></button>
        <h3 id="myModalLabel">{{ $parent.actionName }} Dashboard</h3>
    </div>
    <div class="modal-body form-horizontal">
        <div class="control-group">
            <label class="control-label">Dashboard Name: </label>
            <div class="controls">
                <input type="text" placeholder="Dashboard Name..." ng-model="$parent.name" required />
            </div>
        </div>
        <div permissions="single-client" class="control-group">
            <label class="control-label">Share with Clients: </label>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span6" ng-repeat="clientGroup in $parent.clients">
                        <label class="checkbox" ng-repeat="client in clientGroup">
                            <input type="checkbox" ng-model="share[client.Client._id]"/> {{ client.Client.name }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">{{ $parent.actionName }}</button>
    </div>
</div>