<nav class="navbar navbar-fixed-top" id="preslog_sub_nav">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <h2>My Profile</h2>

            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav pull-right">
                    <li>
                        <button class="btn btn-success" ><i class="icon icon-ok"></i> Save Changes</button>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</nav>

<!-- My Details -->
<form>

<div class="container-fluid" id="preslog_my_profile">
    <div class="row-fluid">
        <div class="span12 form-horizontal">

            <p>Use the form below to modify your personal details.</p>

            <!-- Names -->
            <div class="control-group">
                <label class="control-label" for="inputFirstname">First Name</label>
                <div class="controls">
                    <input type="text" id="inputFirstname" placeholder="First name.." value="Dave" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputLastname">Last Name</label>
                <div class="controls">
                    <input type="text" id="inputLastname" placeholder="Last name.." value="Newson" />
                </div>
            </div>

            <!-- Email -->
            <div class="control-group success">
                <label class="control-label" for="inputEmail">Email Address</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email address.." value="dave@4mation.com.au" tooltip="If you change your email address, a email will be sent to your new address and must be confirmed before the change will take affect." tooltip-placement="right" />
                    <span class="help-inline">An email has been sent to your new email. Please follow the link in the email to confirm your new address.</span>
                </div>
            </div>

            <!-- SMS Number -->
            <div class="control-group success">
                <label class="control-label" for="inputEmail">Phone Number</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Phone number.." value="dave@4mation.com.au" tooltip="If you enable SMS Notifications, they will be sent to the number specified here." tooltip-placement="right" />
                </div>
            </div>

            <!-- Passwords -->
            <div class="control-group error">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="text" id="inputPassword" placeholder="new password.." />
                    <span class="help-inline">Passwords do not match</span>
                </div>
            </div>
            <div class="control-group error">
                <label class="control-label" for="inputPassword2">Confirm Password</label>
                <div class="controls">
                    <input type="text" id="inputPassword2" placeholder="confirm new password.." />
                    <span class="help-inline">Passwords do not match</span>
                </div>
            </div>

            <!-- Save -->
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-success" onclick="parent.location='/'"><i class="icon icon-ok"></i> Save Changes</button>
                </div>
            </div>


        </div>
    </div>
</div>

</form>