<nav class="navbar navbar-inverse navbar-fixed-top" id="preslog_nav" ng-controller="NavCtrl">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">
                <img src="/assets/img/layout/logo.png" alt="Mediahub Australia" />
                <img ng-show="{{global.clients.length < 2}}" title="{{client.name}}" src="{{client.logo}}" />
            </a>

            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li class="dropdown" ng-show="clients.length > 1">
                        <a title="{{client.name}}" href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="{{client.name}}" src="{{client.logo}}"> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="clientItem in clients" ng-show="clientItem._id != client._id">
                                <a href="#" ng-click="switchClient( clientItem._id );" title="{{ clientItem.name }}"><img alt="{{ clientItem.name }}" src="{{ clientItem.logo }}"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-dashboard">
                            <div class="nav-header">Preset Dashboards</div>
                            <li ng-repeat="dashboard in presets"><a ng-href="/dashboard/{{dashboard._id}}">{{ dashboard.name }}</a></li>
                            <div class="divider"></div>

                            <div class="nav-header">Favourite Dashboards</div>
                            <li ng-repeat="favourite in favourites"><a ng-href="/dashboard/{{favourite._id}}">{{ favourite.name }}</a></li>
                        </ul>
                    </li>
                    <li><a href="/logs/" ng-click="createLog('/logs/')">Create Log</a></li>
                    <li><a href="/search">Search</a></li>

                </ul>
                <ul class="nav pull-right">
                    <li  tooltip="Enter a numeric ID to jump to a log. Enter text to quickly search all log text fields for that data." tooltip-placement="bottom">
                    <form class="navbar-search" ng-submit="quickSearch()">
                            <input type="text" ng-model="searchText" class="search-query span2" placeholder="Quick Search">
                        </form>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown" permission="admin">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li permission="user-manager"><a href="/admin/users"><i class="icon icon-user icon-white"></i> Users</a></li>
                            <li permission="client-manager"><a href="/admin/clients"><i class="icon icon-briefcase icon-white"></i> Clients</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.firstName}} {{user.lastName}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/my-profile"><i class="icon icon-white icon-user"></i> My Profile</a></li>
                            <li><a href="/my-notifications"><i class="icon icon-white icon-envelope"></i> My Notifications</a></li>
                            <li><a href="/logout"><i class="icon icon-white icon-share-alt"></i> Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</nav>

<div id="main_layout" ui-view="main" ng-animate="'fade'"></div>
