<nav class="navbar navbar-inverse navbar-fixed-top" id="preslog_nav">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/"><img src="/assets/img/layout/logo.png" alt="Mediahub Australia" /></a>

            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/assets/clients/win/logo.png"> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><img src="/assets/clients/sbs/logo.png"></a></li>
                            <li><a href="#"><img src="/assets/clients/tvn/logo.png"></a></li>
                            <li><a href="#"><img src="/assets/clients/abc/logo.png"></a></li>
                            <li><a href="#"><img src="/assets/clients/mediahub/logo.png"></a></li>
                        </ul>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="/dashboard/my-dashboard" class="dropdown-toggle" data-toggle="dropdown">Dashboard <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-dashboard">
                            <div class="nav-header">Preset Dashboards</div>

                            <li><a href="/dashboard/log-list">Live Report</a></li>
                            <li><a href="/dashboard/log-list">Daily Logs</a></li>
                            <li><a href="/dashboard/log-list">Weekly Logs</a></li>
                            <li><a href="/dashboard/log-list">Unqualified Logs</a></li>

                            <div class="divider"></div>
                            <div class="nav-header">Favourite Dashboards</div>

                            <li><a href="/dashboard/dashboard">My Dashboard</a></li>
                            <li><a href="/dashboard/dashboard">Dash A</a></li>
                            <li><a href="/dashboard/dashboard">Dash B</a></li>
                            <li><a href="/dashboard/dashboard">Dash C</a></li>
                        </ul>
                    </li>
                    <li><a href="/log">Create Log</a></li>
                    <li><a href="/search">Search</a></li>

                </ul>
                <ul class="nav pull-right">
                    <li  tooltip="Enter a numeric ID to jump to a log. Enter text to quickly search all log text fields for that data." tooltip-placement="bottom">
                    <form class="navbar-search" action="/search">
                            <input type="text" class="search-query span2" placeholder="Quick Search">
                        </form>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/admin/users"><i class="icon icon-user icon-white"></i> Users</a></li>
                            <li><a href="/admin/clients"><i class="icon icon-briefcase icon-white"></i> Clients</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dave Newson <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/my-profile"><i class="icon icon-white icon-user"></i> My Profile</a></li>
                            <li><a href="/my-notifications"><i class="icon icon-white icon-envelope"></i> My Notifications</a></li>
                            <li><a href="/logout"><i class="icon icon-white icon-share-alt"></i> Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</nav>

<div id="main_layout" ui-view="main" ng-animate="'fade'"></div>
