<div modal="queryWizardModal" options="{backdropFade: true}" close="cancel()" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" ng-click="queryWizardModal = false" aria-hidden="true"><i class="icon icon-remove"></i></button>
        <h3 id="myModalLabel">Query Builder</h3>
    </div>
    <div class="modal-body">
        <red-query-builder sql="sql" args="args" query-meta="queryMeta" id="rqb">&nbsp;</red-query-builder>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="ok()">Apply</button>
    </div>
</div>
