*.sw*
*~

// Build webroot
// - Only track API
build/webroot/*
!build/webroot/api

//dont copy database file around
bin/cakephp/app/config/database.php

//dont copy log4php config file
bin/cakephp/app/config/config.xml

// Bin webroot
// - track Api
bin/cakephp/app/tmp/*
!bin/webroot/api

// Ignore vendor .get directories
*/Vendor/**/.git


// Package Managed directories ignored
node_modules/
vendor/*

// packages which are static and must NOT be ignored
// - php-sel-parser (google code)
// - RedQueryBuilder
!vendor/php-sql-parser
!vendor/RedQueryBuilder
!bin/cakephp/Vendor/HighchartsPHP
!bin/cakephp/Vendor/apache/log4php/*

// Project Files ignored
.idea

// Empty files get tracked
!*/empty

!*/tmp/users_20130930.csv
