*.sw*
*~

// Build webroot
// - Only track API
build/webroot/*
!build/webroot/api


// Bin webroot
// - track Api
bin/webroot/*
!bin/webroot/api

// Ignore vendor .get directories
*/Vendor/**/.git


// Package Managed directories ignored
node_modules/
vendor/*

// packages which are static and must NOT be ignored
// - php-sel-parser (google code)
// - RedQueryBuilder
!vendor/php-sql-parser
!vendor/RedQueryBuilder


// Project Files ignored
.idea

// Empty files get tracked
!*/empty
