*.sw*
*~

// Build webroot
// Only track API
build/*
!build/api


// Bin webroot
// - track Api
bin/webroot/*
!bin/webroot/api

// Package Managed directories ignored
node_modules/
vendor/*

// Project Files ignored
.idea

// Empty files get tracked
!*/empty
