<!-- Select-Accountability Field -->

    <div class="control-group" ng-class="{error: fieldForm.label.$dirty && fieldForm.label.$invalid && fieldForm.label.$dirty}">
        <label class="control-label" for="inputName">Friendly Label</label>
        <div class="controls">
            <input type="text"
                   id="inputLabel"
                   name="label"
                   placeholder="Label.."
                   ng-model="field.label"
                   required
                    />
            <span class="help-inline" ng-show="fieldForm.label.$dirty && fieldForm.label.$invalid && fieldForm.label.$error.required">Must not be empty.</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: fieldForm.name.$dirty && fieldForm.name.$invalid && fieldForm.name.$dirty}">
        <label class="control-label" for="inputName">Field Name</label>
        <div class="controls">
            <input type="text"
                   id="inputName"
                   name="name"
                   placeholder="Name.."
                   ng-model="field.name"
                   required
                   ng-pattern="/^[a-z\-_]*$/"
                    />
            <span class="help-inline" ng-show="fieldForm.name.$dirty && fieldForm.name.$invalid && fieldForm.name.$error.required">Must not be empty.</span>
            <span class="help-inline" ng-show="fieldForm.name.$dirty && fieldForm.name.$invalid && fieldForm.name.$error.pattern">Must only contain lowercase characters, dash and underscore.</span>
        </div>
    </div>

    <div class="control-group" ng-class="{error: fieldForm.required.$dirty && fieldForm.required.$invalid && fieldForm.required.$dirty}">
        <div class="controls">
            <label class="checkbox"
                   for="inputRequired"
                    >
                <input type="checkbox"
                       id="inputRequired"
                       name="required"
                       ng-model="field.required"
                        />
                    <span tooltip-placement="right"
                          tooltip="Selecting this option will require this field to contain data before a log can be submitted.">Required</span>
            </label>
        </div>
    </div>

    <div class="control-group" ng-class="{error: fieldForm.placeholder.$dirty && fieldForm.placeholder.$invalid && fieldForm.placeholder.$dirty}">
        <label class="control-label" for="inputPlaceholder">Placeholder Text</label>
        <div class="controls">
            <input type="text"
                   id="inputPlaceholder"
                   name="placeholder"
                   placeholder="Placeholder text.."
                   ng-model="field.data.placeholder"
                   required
                    />
            <span class="help-inline" ng-show="fieldForm.placeholder.$dirty && fieldForm.placeholder.$invalid && fieldForm.placeholder.$error.required">Must not be empty.</span>
        </div>
    </div>

    <h3>Drop-down Options</h3>

    <div class="alert alert-info">
        The "Accountability" selection is used to identify who is accountable. These properties are used during report generation.
    </div>

    <table class="table table-condensed table-admin-fields">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Name</th>
                <th>Level</th>
                <th><button class="btn" ng-click="showDeleted = !showDeleted"><i class="icon icon-eye-open"></i> {{ showDeleted && 'Hide' || 'Show' }} Deleted Options</button></th>
            </tr>
        </thead>
        <tbody ui-sortable="fieldEditSortableOptions" ng-model="field.data.options">
            <tr ng-repeat="option in field.data.options" ng-show="option.deleted == false || showDeleted == true">
                <td class="order">
                    <i class="icon icon-resize-vertical"></i>
                </td>
                <td>
                    <input ng-model="option.name"
                           type="text"
                           placeholder="Name..."
                           required
                           />
                </td>
                <td>
                    <select ng-model="option.accountability"
                            ng-options="key as option for (key, option) in options.accountabilities"
                            required
                            >
                        <option value="">Select Accountability...</option>
                    </select>
                </td>
                <td>
                    <button ng-show="option.deleted == false" class="btn btn-danger" ng-confirm-click="Deleting this item will prevent it being selected in new logs. Existing logs will retain their selection of this item. Are you sure?" ng-click="option.deleted = 1"><i class="icon icon-remove"></i> Delete</button>
                    <button ng-show="option.deleted == true" class="btn btn-warning" ng-confirm-click="Restoring this option will make it available for new logs. Are you sure?" ng-click="option.deleted = 0"><i class="icon icon-plus"></i> Restore</button>
                </td>
            </tr>
        </tbody>
        <tfoot ng-form="addOptionForm">
            <tr>
                <td colspan="3">
                    &nbsp;
                </td>
                <td>
                    <button class="btn btn-primary" ng-click="addOption()"><i class="icon icon-plus"></i> Add Option</button>
                </td>
            </tr>
        </tfoot>
    </table>

    <h3>Visibility</h3>

    <div class="control-group" ng-class="{error: fieldForm.visibilityEmail.$dirty && fieldForm.visibilityEmail.$invalid && fieldForm.visibilityEmail.$dirty}">
        <div class="controls">
            <label class="checkbox"
                   for="inputVisibilityEmail"
                    >
                <input type="checkbox"
                       id="inputVisibilityEmail"
                       name="visibilityEmail"
                       ng-model="field.visibility.email"
                        />
                            <span tooltip-placement="right"
                                  tooltip="Toggle this option to change this fields visibility in Email notifications">Visible in Email Notifications</span>
            </label>
        </div>
    </div>
