<nav class="navbar navbar-fixed-top" id="preslog_sub_nav">
    <div class="navbar-inner">
        <div class="container-fluid">
            <h2>Edit Client</h2>

            <ul class="nav pull-right">
                <li>
                    <button class="btn btn-success" ><i class="icon icon-ok"></i> Save Changes</button>
                    <button type="submit" class="btn btn-danger"><i class="icon icon-remove"></i> Delete Client</button>
                </li>
            </ul>
        </div>
    </div><!-- /navbar-inner -->
</nav>

<!-- User Details -->
<form id="admin_client_edit">

    <div class="container">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                        <span class="widget-icon">
                            <i class="icon-user"></i>
                        </span>
                    <h3>Client Details</h3>
                </div>
                <div class="widget-content form-horizontal">

                    <!-- Identifier -->
                    <div class="control-group">
                        <label class="control-label" for="inputLastname">Company Name</label>
                        <div class="controls">
                            <input type="text" id="inputLastname" placeholder="Company Name.." />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputLastname">Company Contact</label>
                        <div class="controls">
                            <textarea></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFirstname">Short-hand Name</label>
                        <div class="controls">
                            <input type="text" id="inputFirstname" placeholder="Short-hand Name.." value="ABC" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputLastname">Logo</label>
                        <div class="controls">
                            <input type="file" id="inputLastname" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputFirstname">Log Prefix</label>
                        <div class="controls">
                            <input type="text" id="inputFirstname" placeholder="Log Prefix (eg. P).." value="ABC" />
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="inputLastname">Activation Date</label>
                        <div class="controls">
                            <input type="text" id="inputLastname" placeholder="Click to select date.." />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="widget-icon">
                            <i class="icon-user"></i>
                        </span>
                        <h3>Custom Fields</h3>
                    </div>
                    <div class="widget-content">

                    <table class="table table-row-select table-admin-fields">
                        <tr>
                            <th>Field Name</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>What has happened</td>
                            <td>full-width multi-line text</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Impact</td>
                            <td>select box</td>
                            <td>3 options</td>
                        </tr>
                        <tr>
                            <td>etc..</td>
                            <td>etc..</td>
                            <td>etc..</td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td><input type="text" placeholder="Name"></td>
                            <td>
                                <select>
                                    <option>Select Type...</option>
                                    <option>Full-width Multi-line text</option>
                                    <option>Full-width text</option>
                                    <option>Select</option>
                                    <option>Checkbox</option>
                                </select>
                            </td>
                            <td>
                                <button class="btn btn-primary"><i class="icon icon-plus"></i> Add</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <span class="widget-icon">
                            <i class="icon-user"></i>
                        </span>
                        <h3>Hierarchical Attributes</h3>
                    </div>
                    <div class="widget-content">

                        <table class="table table-row-select table-admin-fields">
                            <tr>
                                <th>Name</th>
                                <th>Children</th>
                            </tr>
                            <tr>
                                <td>Networks</td>
                                <td>13</td>
                            </tr>
                            <tr>
                                <td>States</td>
                                <td>7</td>
                            </tr>
                            <tr>
                                <td>etc..</td>
                                <td>etc..</td>
                            </tr>
                            <tfoot>
                            <tr>
                                <td><input type="text" placeholder="Name.."></td>
                                <td>
                                    <button class="btn btn-primary"><i class="icon icon-plus"></i> Add</button>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <div class="span12">

                <!-- Save -->
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-success" onclick="parent.location='/'"><i class="icon icon-ok"></i> Save Changes</button>
                        <button type="submit" class="btn btn-danger"><i class="icon icon-remove"></i> Delete Client</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</form>