<form name="logForm" ng-submit="saveLog()">
    <nav class="navbar navbar-fixed-top" id="preslog_sub_nav">
        <div class="navbar-inner">
            <div class="container-fluid">
                <h2 ng-show="{{log.hrid != undefined}}">Log - {{ log.hrid }}</h2>
                <h2 ng-show="{{!log.hrid}}">Create Log</h2>

                <ul class="nav pull-right">
                    <li>
                        <button class="btn btn-success"
                                type="submit"
                                ng-disabled="logForm.$invalid"
                                ><i class="icon icon-ok"></i> Save Changes</button>
                    </li>
                </ul>
            </div>
        </div><!-- /navbar-inner -->
    </nav>

    <div class="container-fluid" id="preslog_log_entry">

        <!-- Validation Errors -->
        <div class="alert alert-error" ng-show="Object.keys(serverErrors).length > 0">
            <strong>An error occurred attempting to save the log.</strong>
            <ul>
                <li ng-repeat="error in serverErrors">
                    <div ng-repeat="line in error track by $index">
                    {{line}}
                    </div>
                </li>
            </ul>
        </div>


        <div class="row-fluid">

            <!-- Log Fields -->
            <div class="span8 form-horizontal log-fields">
                <div log-fields data="log.fields" fields="options.fields"></div>

                <!-- Controls -->
                <div class="row-fluid hidden-phone hidden-tablet">
                    <div class="offset2 span10 text-center">
                        <br/>
                        <button class="btn btn-success"
                                type="submit"
                                ng-disabled="logForm.$invalid"
                                ><i class="icon icon-ok"></i> Save Changes</button>
                        &nbsp;
                        <div class="btn-group" permissions="log-delete" ng-show="{{!log.newLog}}">
                            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="icon icon-fire"></i> Admin Actions
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-show="{{!log.newLog}}"><a href="#" ng-click="deleteLog()" ng-confirm-click="This will delete this log and make it invisible to all reports. Are you sure?"><i class="icon icon-trash"></i> Delete Log</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Hierarchy Fields -->
            <div class="span4 hierarchy-fields">
                <div ng-repeat="group in displayAttributes" id="hf2">
                    <div class="row-fluid">
                        <div class="span12">
                            <legend>{{ group.label }}</legend>
                        </div>
                    </div>
                    <div class="row-fluid" >
                        <div class="span6" hierarchy-fields="group.children[0]" hierarchy-selected="log.attributes" hide-deleted="true" drag-and-drop="false" allow-edit="false"></div>
                        <div class="span6" hierarchy-fields="group.children[1]" hierarchy-selected="log.attributes" hide-deleted="true" drag-and-drop="false" allow-edit="false"></div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</form>