
.table-admin-fields
{
    tfoot
    {
        tr
        {
            border: none 0px;
            background: #fff;

            &:hover
            {
                td
                {
                    background: #fff;
                    cursor: default;
                }
            }

            td
            {
                border: none 0px;
                background: #fff;
            }

        }
    }
}


#admin_client_edit
{
    padding-top: 60px;
}


/**
 * Admin Client Field Editor
 */
#peslog_log_entry
{
    .admin_cfe_group
    {
        border: 1px solid transparent;

        &:hover
        {
            border: 1px dashed #aaa;
        }
    }
}