
.table-admin-fields
{
    tfoot
    {
        tr
        {
            border: none 0px;
            background: #fff;

            &:hover
            {
                td
                {
                    background: #fff;
                    cursor: default;
                }
            }

            td
            {
                border: none 0px;
                background: #fff;
            }

        }
    }
}


#admin_client_edit
{
    padding-top: 60px;
}