
.table-admin-fields
{
    .order
    {
        width: 20px;

        i
        {
            visibility:hidden;
        }

        &:hover
        {
            cursor: n-resize;
        }
    }

    th
    {
        border: none 0px;
    }

    tbody
    {
        tr
        {
            &:hover
            {
                td
                {
                    background: #eee;
                    cursor: default;
                }

                td.order i
                {
                    visibility: visible;
                }
            }
        }

        .ui-sortable-placeholder
        {
            height: 47px;
            border-top: 1px solid grey;
            background: #eee;
        }
    }

    th.actions
    {
        width: 125px;
    }
}


#preslog_admin_clients_index
{
    table
    {
        tr
        {
            td
            {
                &.logo
                {
                    img
                    {
                        padding: 5px;
                        background: #000;
                    }
                }
            }
        }
    }
}


#admin_client_edit
{
    padding-top: 60px;

    img.logo-preview
    {
        padding: 2px;
        background: #000;
        width: 120px;
        height: 35px;
        border: none 0px;
    }
}

#admin_client_edit_fields
{
    form
    {
        margin: 0px;

        table
        {
            margin: 0px;

            input, select
            {
                margin: 0px;
            }
        }
    }
}

/**
 * Admin Client Field Editor
 */
#peslog_log_entry
{
    .admin_cfe_group
    {
        border: 1px solid transparent;

        &:hover
        {
            border: 1px dashed #aaa;
        }
    }
}