
/**
 * Styles exclusively for the Preslog Dashboard
 */

#preslog_dashboard
{
    // Dashboard controls
    .dash-controls
    {
        margin: 20px 20px 0px 0px;
    }


    .dash-title *
    {
        margin: 20px 0px 0px 0px;
        font-size: 2.25em;
    }

    // Sidebar
    #preslog_sidebar
    {
        padding-top: 20px;

        // Titles
        h3
        {
            font-size: 0.75em;
            margin: 0px 0px 5px 20px;
            text-transform: uppercase;
            color: #888;
        }

        ul.nav
        {
            margin: 0px 0px 20px 20px;
        }


        // Favourites manager
        .favourites-manager
        {
            margin-left: 20px;
            width: 200px;

            .select2-container
            {
                width: 100%;
                display: block;
            }
        }

    }

}


/**
 * Widget Selector
 */
.table-widget-select
{
    tr
    {

        &:hover
        {
            cursor: pointer;
            background: #eee;
        }
    }
}

.widget-area {
  border: 1px dashed #ccc;
  position: relative;
}

.widget-area > div {
  background: transparent;
  position: absolute;
  height: 500px;
  width: 500px;
}

//.widget-area div[data-ss-colspan="3"] { width: 1600px;}

.widget-area .ss-placeholder-child {
  background: transparent;
  border: 1px dashed blue;
}


@media (min-width: 1200px) {
  [data-ss-colspan="3"] {
    width: 1600px;
  };

}

@media (min-width: 980px) and (max-width: 1200px) {
  [data-ss-colspan="3"] {
    width: 980px;
  };

}

@media (min-width: 768px) and (max-width: 980px) {
  [data-ss-colspan="3"] {
    width: 768px;
  };
}

@media (min-width: 480px) and (max-width: 768px) {

}

@media (max-width: 480px) {

}


/**
*gridster media query
*
*/
/*
@maxCols: 3;
@leftPadding: 10px;
@oneHundred: 100%;

@media (min-width: 1200px) {
  @width: 100px;

  .leftLoop (@index) when (@index > 0) {
    (~'[data-col="@{index}"]') {
      left: ((@oneHundred/@maxCols) * @index) - (@oneHundred/@maxCols);
      //left: (@index*@leftPadding)+(@index*@width);
    }
    .leftLoop(@index - 1);
  }
  .leftLoop(0) {}
  .leftLoop (@maxCols);


  .widthLoop (@index) when (@index > 0) {
    (~'[data-sizex="@{index}"]') {
       width:(@oneHundred/@maxCols) ;
      //width: 300px;
    }
    .widthLoop(@index - 1);
  }
  .widthLoop(0) {}
  .widthLoop(@maxCols);

}

@media (min-width: 980px) and (max-width: 1200px) {
  @width: 60px;

  .loop (@index) when (@index > 0) {
    (~'[data-col="@{index}"]') {
      left: ((@oneHundred/@maxCols) * @index) - (@oneHundred/@maxCols);
    }
    .loop(@index - 1);
  }
  .loop(0) {}
  .loop (@maxCols);

  .widthLoop (@index) when (@index > 0) {
    (~'[data-sizex="@{index}"]') {
      width:(@oneHundred/@maxCols) ;
     // width: 300px;
    }
    .widthLoop(@index - 1);
  }
  .widthLoop(0) {}
  .widthLoop(@maxCols);
}

@media (min-width: 768px) and (max-width: 980px) {
  @width: 50px;

  .loop (@index) when (@index > 0) {
    (~'[data-col="@{index}"]') {
      left: ((@oneHundred/@maxCols) * @index) - (@oneHundred/@maxCols);
    }
    .loop(@index - 1);
  }
  .loop(0) {}
  .loop (@maxCols);

  .widthLoop (@index) when (@index > 0) {
    (~'[data-sizex="@{index}"]') {
      width: (@oneHundred/@maxCols);
    }
    .widthLoop(@index - 1);
  }
  .widthLoop(0) {}
  .widthLoop(@maxCols);
}

@media (min-width: 480px) and (max-width: 768px) {
  .loop (@index) when (@index > 0) {
    (~'[data-col="@{index}"]') {
      left: @leftPadding;
    }
    .loop(@index - 1);
  }
  .loop(0) {}
  .loop (@maxCols);

  .widthLoop (@index) when (@index > 0) {
    (~'[data-sizex="@{index}"]') {
      width: 100%;
      float: none;
    }
    .widthLoop(@index - 1);
  }
  .widthLoop(0) {}
  .widthLoop(@maxCols);

  .gridster .gs_w{
    position: relative !important;
  }
}

@media (max-width: 480px) {
  @width: 10px;

  .loop (@index) when (@index > 0) {
    (~'[data-col="@{index}"]') {
      left: @leftPadding;
      //left: @index px;
    }
    .loop(@index - 1);
  }
  .loop(0) {}
  .loop (@maxCols);

  .widthLoop (@index) when (@index > 0) {
    (~'[data-sizex="@{index}"]') {
      width: 100%;
      float: none;
    }
    .widthLoop(@index - 1);
  }
  .widthLoop(0) {}
  .widthLoop(@maxCols);

  .gridster .gs_w{
    position: relative !important;
  }
}

[data-row="16"] { top:2120px;}
[data-row="15"] { top:1980px;}
[data-row="14"] { top:1840px;}
[data-row="13"] { top:1700px;}
[data-row="12"] { top:1560px;}
[data-row="11"] { top:1420px;}
[data-row="10"] { top:1280px;}
[data-row="9"] { top:1140px;}
[data-row="8"] { top:1000px;}
[data-row="7"] { top:860px;}
[data-row="6"] { top:720px;}
[data-row="5"] { top:580px;}
[data-row="4"] { top:440px;}
[data-row="3"] { top:300px;}
[data-row="2"] { top:160px;}
[data-row="1"] { top:20px;}
[data-sizey="1"] { height:100px;}
[data-sizey="2"] { height:240px;}
[data-sizey="3"] { height:380px;}
[data-sizey="4"] { height:520px;}
[data-sizey="5"] { height:660px;}
[data-sizey="6"] { height:800px;}
[data-sizey="7"] { height:940px;}
[data-sizey="8"] { height:1080px;}
[data-sizey="9"] { height:1220px;}
[data-sizey="10"] { height:1360px;}
[data-sizey="11"] { height:1500px;}
[data-sizey="12"] { height:1640px;}
[data-sizey="13"] { height:1780px;}
[data-sizey="14"] { height:1920px;}
[data-sizey="15"] { height:2060px;}
*/