
/**
 * Styles exclusively for the Preslog Dashboard
 */

#preslog_dashboard
{
    // Dashboard controls
    .dash-controls
    {
        margin: 20px 20px 0px 0px;
    }


    .dash-title *
    {
        margin: 20px 0px 10px 0px;
        font-size: 2.25em;
    }

    // Sidebar
    #preslog_sidebar
    {
        padding-top: 20px;

        // Titles
        h3
        {
            font-size: 0.75em;
            margin: 0px 0px 5px 20px;
            text-transform: uppercase;
            color: #888;
        }

        ul.nav
        {
            margin: 0px 0px 20px 20px;
        }


        // Favourites manager
        .favourites-manager
        {
            margin-left: 20px;
            width: 200px;

            .select2-container
            {
                width: 100%;
                display: block;
            }
        }
    }

    // Floaty widget container
    #widget-area
    {
        margin: 0px;
    }

}


/**
 * Widget Selector
 */
.table-widget-select
{
    tr
    {

        &:hover
        {
            cursor: pointer;
            background: #eee;
        }
    }
}

.widget-area {

    border: 1px dashed #ccc;
    position: relative;
}

.widget-area > div {
  background: transparent;
  position: absolute;
  height: 500px;
  width: 500px;
}

//.widget-area div[data-ss-colspan="3"] { width: 1600px;}

.widget-area .ss-placeholder-child {
  background: transparent;
  border: 1px dashed blue;
}


@media (min-width: 1200px) {
  [data-ss-colspan="3"] {
    width: 1600px;
  };

}

@media (min-width: 980px) and (max-width: 1200px) {
  [data-ss-colspan="3"] {
    width: 980px;
  };

}

@media (min-width: 768px) and (max-width: 980px) {
  [data-ss-colspan="3"] {
    width: 768px;
  };
}
