
/**
 * Styles exclusively for the Preslog Dashboard
 */

#preslog_dashboard
{
    // Dashboard controls
    .dash-controls
    {
        margin: 20px 20px 0px 0px;
    }


    .dash-title *
    {
        margin: 20px 0px 0px 0px;
        font-size: 2.25em;
    }

    // Sidebar
    #preslog_sidebar
    {
        padding-top: 20px;

        // Titles
        h3
        {
            font-size: 0.75em;
            margin: 0px 0px 5px 20px;
            text-transform: uppercase;
            color: #888;
        }

        ul.nav
        {
            margin: 0px 0px 20px 20px;
        }


        // Favourites manager
        .favourites-manager
        {
            margin-left: 20px;
            width: 200px;

            .select2-container
            {
                width: 100%;
                display: block;
            }
        }

    }

}


/**
 * Widget Selector
 */
.table-widget-select
{
    tr
    {

        &:hover
        {
            cursor: pointer;
            background: #eee;
        }
    }
}
