

// Log screen
#preslog_log_entry {

    // Minimum width for standard res
    min-width: 900px;

    // nav padding
    padding-top: 48px;
    padding-bottom: 40px;

    // Validation box
    .alert
    {
        margin-bottom: 0px;
    }

    // default field widths
    select
    {
        width: 100%;
    }

    input, textarea, select, label
    {
        font-size: 0.85em;
    }

    // Vertical spacing
    .row-fluid
    {
        padding-top: 8px;
    }

    // Log fields - left hand column
    .log-fields
    {
        // remove default padding from bottom
        .control-group
        {
            margin-bottom: 0px;
        }

    }

    .form-horizontal
    {

        // Horizontal spacing - span to width of responsive divs
        .span6
        {
            .control-label
            {
                width: 31%;
            }
            .controls
            {
                margin-left: 37%;
            }
        }
        .span12
        {
            .control-label
            {
                width: 16%;
            }
            .controls
            {
                margin-left: 18%;
            }
        }

        // time fields
        input.input-time
        {
            width: 20px;
        }

        // Date input group
        .group-date
        {
            // date block
            label.label-date
            {
            }
            div.controls-date
            {
                width: 100px;
                margin-left: 6%;
                float: left;

                input
                {
                    width: 70px;
                }
            }

            // time block
            label.label-time
            {
                width: 40px !important;
            }
            div.controls-time
            {
                margin-left: 10px;
                width: 1px;
                float: left;

                input
                {
                    width: 50px;
                }
            }
        }

        .controls-modified
        {
            input.input-date
            {
                width: 120px;
            }

            input.input-version
            {
                width: 15px;
            }
        }


    }

    // Hierarchial Fields
    .hierarchy-fields
    {
        min-height: 600px;
        margin-top: 10px;

        legend
        {
            margin: 0px;
        }

        // Padding
        > .row-fluid
        {
            padding: 10px 0px 0px 10px;
        }

        // Grouping
        .hierarchy-group
        {
            margin-bottom: 20px;
            text-align: left;

            button
            {
                margin-bottom: 5px;
            }
        }
    }

    // Comment fields
    .comments
    {
        margin-bottom: 5px;

        // Author
        .author
        {
            width: 150px;

            // date
            span
            {
                font-size: 0.8em;
            }
        }
    }

    span.dynatree-icon
    {
      display: none;
    }

    ul.dynatree-container {
      background-color: transparent;
      border: none;
    }
}



/**
 * Mobile Compatibility Views
 */

@media (max-width: 979px)
{
    #preslog_log_entry
    {
        padding-top: 0px;
        min-width: 0px;

        // Hierarchy fields as one column
        .hierarchy-fields
        {
            .row-fluid
            {
                .span6
                {
                    width: 100% !important;
                    margin: 0px !important;
                }
            }
        }
    }
}

@media (max-width: 768px)
{
    #preslog_log_entry
    {
        .form-horizontal
        {
            .control-label
            {
                float: none;
                width: 100%         !important;
                text-align: left    !important;
            }
            .controls, .controls-date
            {
                float: none;
                width: 100%         !important;
                margin-left: 0px    !important;
            }
        }
    }

}