#login
{
    .hero-unit
    {
        padding: 30px;
    }

    .logo
    {
        text-align: center;
        margin: 0px auto;
    }

    .login-form
    {
        margin: 0px auto;
        float: none;
    }

    .forgotten-password
    {
        margin: 2px;
        font-size: 0.8em;
    }


    // Tablet
    @media (max-width: 979px) and (min-width: 768px)
    {
        .login-form
        {
            width: 460px;
        }
    }

}