/**
 * Nav Styles
 */

// 40px Padding to top
body { padding-top: 40px; }

@media screen and (max-width: 979px) {
  body { padding-top: 0px; }
}

#header_nav
{
    // Brand Logo should have no padding
    .brand
    {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    // Search field fix
    .search-query
    {
        line-height: 1.5em;
    }

    .dropdown-dashboard
    {
        width: 200px;
    }

    .dropdown-menu .nav-header
    {
        white-space: nowrap;
    }


}

