/**
 * Nav Styles
 */

@navbarCollapseWidth: 1024px;


/**
 * Collapse nav
 */
@media(max-width: @navbarCollapseWidth)
{
    .navbar-fixed-top {
        margin-bottom: 0px;
    }

    #main_layout
    {
        padding-top: 0px;
    }
}


/**
 * Generical Nav
 */

#preslog_nav
{
    // Brand Logo should have no padding
    .brand
    {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    // Search field text fix
    .search-query
    {
        line-height: 1.5em;
    }

    // Fixed width for dropdown menus
    .dropdown-dashboard
    {
        width: 200px;
    }

    // dropdown sub-nav titles shouldn't wrap
    .dropdown-menu .nav-header
    {
        white-space: nowrap;
    }

    // Active and Hover have BG color.
    .nav
    {
        li.active, li:hover
        {
            > a
            {
                background: #333 !important;
            }
        }
    }

    // Inverted dropdown for client selection
    .dropdown-menu.inverse
    {
        background: #000;

        &:after
        {
            border-bottom-color: #000;
        }

    }

    .client-logo
    {
        >a
        {
            padding: 8px 15px;

            >img
            {
                height: 25px;
            }
        }
    }
}


/**
 * Subnav
 */

// Top navbar
#preslog_sub_nav {

    // Show under top nav bar
    top: 42px;
    z-index: 1020;

    .navbar-inner {
        // Appears as part of the page
        background: #eee;
        border: none 0px;

        // Smaller heading
        h2 {
            float: left;
            font-size: 1.5em;
            margin: 0px 20px 0px 0px;
            line-height: 40px;
        }
    }
}