/**
 * Nav Styles
 */

// Add spacing so content isn't hidden behind the nav
body { padding-top: 40px; }

// For mobiles, remove the padding as the bar is no longer fixed.
@media screen and (max-width: 979px) {
  body { padding-top: 0px; }
}

#preslog_nav
{
    // Brand Logo should have no padding
    .brand
    {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
    }

    // Search field text fix
    .search-query
    {
        line-height: 1.5em;
    }

    // Fixed width for dropdown menus
    .dropdown-dashboard
    {
        width: 200px;
    }

    // dropdown sub-nav titles shouldn't wrap
    .dropdown-menu .nav-header
    {
        white-space: nowrap;
    }

    // Active and Hover have BG color.
    .nav
    {
        li.active, li:hover
        {
            > a
            {
                background: #333 !important;
            }
        }
    }
}

