/**
 * Search style for Mediahub Preslog
 */

#preslog_search
{
    padding-top: 20px;

    .search-buttons
    {
        margin-top: 5px;
        width: 100%;

        button
        {
            width: 100%;
        }
    }

    .search-textarea
    {
        background: #fff;
    }

}


/**
 * Query Wizard
 */

.query-builder
{
    min-height: 600px;
    min-width: 800px;
}


.queryBuilderContainer
{
    // inputs fix
    select,input
    {
        margin: 0px;
        width: auto;
        height: auto;
    }

    // zindex fix
    .rqbAndOrOpUpper
    {
        z-index: 180;
    }

    .rqbAndOrOp
    {
        z-index: 200;
    }

    .rqbComparison
    {
        z-index: 200;
    }
}