/**
 * Search style for Mediahub Preslog
 */

#preslog_search
{
    padding-top: 20px;

    .search-buttons
    {
        margin-top: 5px;
        width: 100%;

        button
        {
            width: 100%;
        }
    }

    .search-textarea
    {
        background: #fff;
    }

}