html
{
    // force verical scrollbar
    overflow-y: scroll;
}

body
{
    // subtle gradient
    background: url('/assets/img/layout/background.png') repeat-x top #eee;
}


/**
 * Typography
 */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

code, pre, .pre {
    padding: 5px;
    margin: 10px 0;
    background-color: #EFEFEF;
    border: 1px solid #DADADA;
    .border-radius(3px);
}

code {
    padding: 0 3px;
}

pre {
    margin: 10px 0;
    padding: 5px;
}

.page-header {
    margin-top: 60px;

    &:first-child {
        margin-top: 20px;
    }
}

// Headings override
h1,
h2,
h3 { line-height: @baseLineHeight * (@headingMaxScale / 1.375); }

h1 { font-size: @baseFontSize * @headingMaxScale; }
h2 { font-size: @baseFontSize * (@headingMaxScale / 1.2); }
h3 { font-size: @baseFontSize * (@headingMaxScale / 1.5); }
h4 { font-size: @baseFontSize * (@headingMaxScale / 2.2); }
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * (@headingMaxScale / 3.2); }

h1 small { font-size: @baseFontSize * (@headingMaxScale / 1.6); }
h2 small { font-size: @baseFontSize * (@headingMaxScale / 2.2); }
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }


// Table row selector; highlight and cursor for TRs
table.table-row-select
{
    tr:hover
    {
        td
        {
            background: #ddd;
            color: #0088cc;
            cursor: pointer;
        }
    }
}


// textarea fit-to-div
// padding and margin should match
.textarea-fill
{
    padding: 6px;

    textarea
    {
        width: 100%;
        margin: -6px;
        padding: 5px; // 1px less, to account for surrounding borders
        max-width: 100%;
    }
}

// input fill-to-div
// padding and mergins should match
.input-fill
{
    padding: 6px;

    input
    {
        width: 100%;
        margin: -6px;
        padding: 5px;
    }
}


// For making Label and Select/Input items flow on the same line
.control-horizontal
{
    .control-label
    {
        display: inline;
        margin: 0px 10px 0px 10px;
    }

    select,input
    {
        margin: 0px;
    }
}

/**
 * Loading Screen
 */
div.loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0px;
    right: 0px;
    z-index: 10000;
    background-color: #000;
    opacity: .8;

    .loading-block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        margin: auto;
        width: 100px;
        height: 100px;
        text-align: center;

        img {
            vertical-align: baseline;
        }

        span {
            color: #FFF;
            font-size: 14px;
            padding-bottom: 8px;
            margin-left: 10px;
            display: inline-block;
        }
    }
}


/**
 * Standard Animations
 */

.transition(@duration: 1s, @ease: linear) {
    -webkit-transition: @duration @ease all; /* Safari/Chrome */
    -moz-transition: @duration @ease all; /* Firefox */
    -o-transition: @duration @ease all; /* Opera */
    transition: @duration @ease all; /* IE10+ and Future Browsers */
}

.transition-delay(@duration: 1s) {
    -webkit-transition-delay: @duration;
    -moz-transition-delay: @duration;
    -o-transition-delay: @duration;
    transition-delay: @duration;
}

@transitionTime: .1s;

.fade-enter, .fade-show {
    .transition(@transitionTime);
    .transition-delay(@transitionTime * 2);
    opacity: 0;
}

.fade-enter.fade-enter-active, .fade-show.fade-show-active {
    opacity: 1;
    top: 0;
}

.fade-leave, .fade-hide {
    .transition(@transitionTime);
    opacity: 1;
    top: 0;
}

.fade-leave.fade-leave-active, .fade-hide.fade-hide-active {
    opacity: 0;
}


.table-condensed
{
    .filter form
    {
        margin: 0px;
        padding-right: 14px;

        input, select
        {
            margin: 0px;
            width: 100%;

        }
    }

    th.filter
    {
        border-top: 0px none;
    }
}

// Help icon

.icon.help
{
    color: #888;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;

    :hover
    {
        color: #000;
    }
}

// Loader icon
.icon.icon-loading
{
    background: url('img/layout/ajax-loader-button.gif') no-repeat;
}


/**
 * Help docs
 */
.help-docs
{
    h2
    {
        border-bottom: 1px solid #444;
    }
}


/**
 * Modals
 */

@media (min-width: 767px)
{
    // Expanded modal
    .modal
    {
        width:70%;
        margin-left: -35%;
    }
}