/**
 * Widget Styles
 */

// Widget box
.widget-box
{
    background: #fff;
    margin: 16px 0px 16px 0px;
    border: 1px solid #ccc;
    position: relative;
    clear: both;
    border-radius: 4px;

    // Also movable?
    &.widget-movable
    {
        .widget-title
        {
            cursor: move;
        }
    }

    // widget title bar
    .widget-title
    {
        min-height: 36px;
        border-bottom: 1px solid #ccc;
        background: url('/assets/img/layout/widget-title.png') repeat-x bottom;
        position: relative;

        // Headings in title locked to size
        h1,h2,h3,h4,h5,h6
        {
            font-size: 1em;
            font-weight: bold;
            margin: 0px;
            margin: 0px 40px 0px 38px;
            padding: 8px 0px 8px 10px;
            line-height: 1.5em;
            border-left: 1px solid #ccc;
        }

        // Widget icon on the left hand side
        .widget-icon
        {
            height: 38px;
            width: 38px;
            text-align: center;
            line-height: 38px;
            float: left;
        }

        // Align right buttons
        .widget-buttons
        {
            padding: 7px 7px 0px 0px;
            position: absolute;
            top: 0px;
            right: 0px;

            .dropdown-menu
            {
                right: 0px;
                left: auto;
                cursor: pointer;
            }

        }


        // Hide unless title bar is hovered
        .hover-show
        {
            visibility:hidden;
        }

    }

    &:hover
    {
        .hover-show
        {
            visibility: visible;
        }
    }


    // widget content
    .widget-content
    {
        padding: 16px;

        .control-row
        {
            .control-pagination
            {
                .pagination
                {
                    margin: 0px;
                }
            }
        }

    }

    // Widget footnotes
    .widget-footnote
    {
        padding: 0px 16px 16px 16px;

        h1,h2,h3,h4,h5,h6
        {
            font-size: 10px;
            font-weight: bold;
            margin: 0px 0px 8px 0px;
        }

        textarea
        {
            width: 100%;
            margin: -8px;
        }
    }

}