<!-- Client Details -->
<form name="clientForm" id="admin_client_edit" validate-server="serverErrors">

    <nav class="navbar navbar-fixed-top" id="preslog_sub_nav">
        <div class="navbar-inner">
            <div class="container-fluid">
                <h2>Edit Client</h2>

                <ul class="nav pull-right">
                    <li>
                        <button type="button"
                                class="btn btn-success"
                                click-wait="saveClient()"
                                click-wait-bind="saveClientToggle"
                                ng-disabled="clientForm.$invalid">
                            <i class="icon icon-loading click-wait-loader"></i>
                            <i class="icon icon-ok click-wait-static"></i>
                            Save Changes
                        </button>
                        <button type="button" class="btn btn-danger"
                                ng-click="deleteClient()"
                                ng-show="{{client._id && !client.deleted}}"
                                ng-confirm-click="Are you sure you want to delete this client? All users assigned to this client will be unable to access Preslog if you do this.">
                            <i class="icon icon-remove"></i>
                            Delete Client
                        </button>
                    </li>
                </ul>
            </div>
        </div><!-- /navbar-inner -->
    </nav>

    <div class="container">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-title">
                        <span class="widget-icon">
                            <i class="icon-briefcase"></i>
                        </span>
                    <h3>Client Details</h3>
                </div>
                <div class="widget-content form-horizontal">

                    <!-- Company Name -->
                    <div class="control-group" ng-class="{error: clientForm.name.$dirty && clientForm.name.$invalid}">
                        <label class="control-label" for="inputName">Client Name</label>
                        <div class="controls">
                            <input type="text"
                                   id="inputName"
                                   name="name"
                                   placeholder="Company Name.."
                                   ng-model="client.name"
                                   required
                                    />
                            <span class="help-inline" ng-show="clientForm.name.$dirty && clientForm.name.$invalid && clientForm.name.$error.required">Must not be empty.</span>
                            <span class="help-inline" ng-show="clientForm.name.$error.validateServer" ng-bind="serverErrors.name"></span>
                        </div>
                    </div>

                    <!-- Contact Details -->
                    <div class="control-group" ng-class="{error: clientForm.contact.$invalid}">
                        <label class="control-label" for="inputContact">Client Contact</label>
                        <div class="controls">
                            <textarea
                                    rows="4"
                                    id="inputContact"
                                    name="contact"
                                    ng-model="client.contact"
                                    ></textarea>
                            <span class="help-inline" ng-show="clientForm.contact.$error.validateServer" ng-bind="serverErrors.contact"></span>
                        </div>
                    </div>

                    <!-- Short-hand name -->
                    <div class="control-group" ng-class="{error: clientForm.shortName.$dirty && clientForm.shortName.$invalid}">
                        <label class="control-label" for="inputShortName">Short-hand Name</label>
                        <div class="controls">
                            <input type="text"
                                   id="inputShortName"
                                   name="shortName"
                                   placeholder="Short-hand Name.."
                                   ng-model="client.shortName"
                                   ng-maxlength="6"
                                   required
                                   tooltip-placement="right"
                                   tooltip="Short names are used in locations where space is at a premium, such as SMS notifications."
                                    />
                            <span class="help-inline" ng-show="clientForm.shortName.$dirty && clientForm.shortName.$invalid && clientForm.shortName.$error.required">Must not be empty.</span>
                            <span class="help-inline" ng-show="clientForm.shortName.$dirty && clientForm.shortName.$invalid && clientForm.shortName.$error.maxlength">Must only contain up to 6 characters.</span>
                            <span class="help-inline" ng-show="clientForm.shortName.$error.validateServer" ng-bind="serverErrors.shortName"></span>
                        </div>
                    </div>

                    <!-- Company Logo -->
                    <div class="control-group" ng-class="{error: clientForm.logo.$dirty && clientForm.logo.$invalid && clientForm.logo.$invalid}">

                        <label class="control-label" for="inputLogoUrl">
                            Logo Url
                        </label>
                        <div class="controls">
                            <input type="text"
                                   id="inputLogoUrl"
                                   name="logoUrl"
                                   placeholder="Logo Url..."
                                   ng-model="client.logoUrl"
                                   required
                                   tooltip-placement="right"
                                   tooltip="The url of the client logo to be displayed in the top-left corner. Should be 120x35 pixels and look good on a black background."
                                    />
                            <img ng-show="client._id" src="{{ client.logoUrl }}" width="68" height="20" class="logo-preview" alt="Logo Preview" />
                            <br/>
                            <span class="help-inline" ng-show="clientForm.logo.$error.validateServer" ng-bind="serverErrors.logoUrl"></span>
                        </div>
                    </div>

                    <!-- Log Prefix -->
                    <div class="control-group" ng-class="{error: clientForm.logPrefix.$dirty && clientForm.logPrefix.$invalid}">
                        <label class="control-label" for="inputLogPrefix">Log Prefix</label>
                        <div class="controls">
                            <input type="text"
                                   id="inputLogPrefix"
                                   name="logPrefix"
                                   placeholder="Log Prefix (eg. P).."
                                   ng-model="client.logPrefix"
                                   required
                                   ng-pattern="/^[a-zA-Z]{1,6}$/"
                                   tooltip-placement="right"
                                   tooltip="The Log Prefix is attached to the beginning of all Log IDs."
                                    />
                            <span class="help-inline" ng-show="clientForm.logPrefix.$dirty && clientForm.logPrefix.$invalid && clientForm.logPrefix.$error.required">Must not be empty.</span>
                            <span class="help-inline" ng-show="clientForm.logPrefix.$dirty && clientForm.logPrefix.$invalid && clientForm.logPrefix.$error.pattern">May only contain up to 6 letters.</span>
                            <span class="help-inline" ng-show="clientForm.logPrefix.$error.validateServer" ng-bind="serverErrors.logPrefix"></span>
                        </div>
                    </div>

                    <!-- SLA Benchmark -->
                    <div class="control-group" ng-class="{error: clientForm.benchmark.$invalid && clientForm.benchmark.$dirty}">
                        <label class="control-label" for="inputBenchmark">SLA Benchmark</label>
                        <div class="controls">
                            <div class="input-append"
                                 tooltip-placement="right"
                                 tooltip="Service Level Agreement Benchmark value is used to plot SLA compliance in charts.">
                                <input type="text"
                                       id="inputBenchmark"
                                       name="benchmark"
                                       ng-model="client.benchmark"
                                       placeholder="eg. 0.123..."
                                       ng-pattern="/^[0-9\.]{1,7}$/"
                                       required
                                       />
                                <span class="add-on">%</span>
                                </div>
                            <span class="help-inline" ng-show="clientForm.benchmark.$dirty && clientForm.benchmark.$invalid && clientForm.benchmark.$error.required">Must not be empty.</span>
                            <span class="help-inline" ng-show="clientForm.benchmark.$dirty && clientForm.benchmark.$invalid && clientForm.benchmark.$error.pattern">Must be a floating point value, up to 7 digits.</span>
                            <span class="help-inline" ng-show="clientForm.benchmark.$error.validateServer" ng-bind="serverErrors.benchmark"></span>
                        </div>
                    </div>

                    <!-- Activation Date -->
                    <div class="control-group" ng-class="{error: clientForm.activationDate.$dirty && clientForm.activationDate.$invalid && clientForm.activationDate.$invalid}">
                        <label class="control-label" for="inputActivationDate">Activation Date</label>
                        <div class="controls">
                            <span tooltip-placement="right"
                                  tooltip="The Activation Date controls when this client will become accessible to users.
                                            Until the activation date has arrived, this client will only be visible to administrators.
                                            Any users assigned directly to an inactive client will not be able to login while the client is inactive."
                                  >
                                <input
                                    type="text"
                                    datetime="date"
                                    id="inputActivationDate"
                                    name="activationDate"
                                    placeholder="YYYY-MM-DD.."
                                    ng-model="client.activationDate"
                                    required
                                    />
                                <input
                                    type="text"
                                    datetime="time"
                                    ng-show="false"
                                    ng-model="client.activationDate"
                                    type="text"
                                    />
                            </span>
                            <span class="help-inline" ng-show="clientForm.activationDate.$dirty && clientForm.activationDate.$invalid && clientForm.activationDate.$error.required">Must not be empty.</span>
                            <span class="help-inline" ng-show="clientForm.activationDate.$error.validateServer" ng-bind="serverErrors.activationDate"></span>
                            <span class="help-inline" ng-show="clientForm.activationDate.$dirty && clientForm.activationDate.$invalid && clientForm.activationDate.$error.pattern">Must be formatted as YYYY-MM-DD</span>
                        </div>
                    </div>

                    <!-- Deleted - Only visible when the client has been removed -->
                    <div class="control-group alert alert-error" ng-show="{{client.deleted}}" ng-class="{error: clientForm.deleted.$invalid}">
                        <label class="control-label" for="inputDeleted">Deleted</label>
                        <div class="controls">
                            <input type="checkbox"
                                   id="inputDeleted"
                                   ng-model="client.deleted" />
                            <span class="help-inline">Uncheck and save to restore this client.</span>
                            <span class="help-inline" ng-show="clientForm.deleted.$error.validateServer" ng-bind="serverErrors.deleted"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<div class="container" id="admin_client_edit_fields">
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="widget-icon">
                    <i class="icon-list"></i>
                </span>
                <h3>Custom Fields</h3>
                <div class="widget-buttons">
                    <div class="btn-group hover-show">
                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" ng-click="showDeleted = !showDeleted"><i class="icon icon-eye-open"></i> {{ showDeleted && 'Hide' || 'Show' }} Deleted Fields</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="widget-content">

                <div class="alert alert-info">
                    <p>
                        Custom fields control the types of fields that make up a Log.
                    </p>
                    <p>
                        <strong>Friendly Label</strong> is a human-readable name for the field - it can be anything you
                        want it to be in order to make the purpose of the field understandable.
                        <br/><strong>Field Name</strong> is used for searches and aggregation.  If you have a single field across
                        more than one client (eg. "On-Air Impact") you should make sure the Field Name is identical between clients using this field (eg. "impact").
                        <br/><strong>Deleting</strong> a field from the Client will simply remove it from being visible. Old logs will still contain that field,
                        and fields can easily be restored.
                    </p>
                </div>

                <form name="newFieldForm">
                    <table class="table table-admin-fields">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Friendly Label</th>
                                <th>Field Name</th>
                                <th>Type</th>
                                <th>Info</th>
                                <th class="actions">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody ui-sortable="fieldSortableOptions" ng-model="client.fields">
                            <tr ng-repeat="field in client.fields" ng-show="!field.deleted || showDeleted == true">
                                <td class="order"><i class="icon icon-resize-vertical"></i></td>
                                <td>{{ field.label }}</td>
                                <td>{{ field.name }}</td>
                                <td>{{ options.fieldTypes[field.type].name }}</td>
                                <td ng-switch on="field.type">
                                    <span ng-switch-when="select">{{ field.data.options.length }} options</span>
                                    <span ng-switch-when="select-severity">{{ field.data.options.length }} options</span>
                                    <span ng-switch-when="select-accountability">{{ field.data.options.length }} options</span>
                                    <span ng-switch-when="select-impact">{{ field.data.options.length }} options</span>
                                    <span ng-switch-default>&nbsp;</span>
                                </td>
                                <td>
                                    <button ng-show="!field.deleted" class="btn btn-block btn-info" ng-click="editField( field._id )"><i class="icon icon-edit"></i> Edit</button>
                                    <button ng-show="field.deleted" class="btn btn-block btn-warning" ng-click="field.deleted = false"><i class="icon icon-plus"></i> Restore</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="control-group" ng-class="{error: newFieldForm.label.$dirty && newFieldForm.label.$invalid}">
                                    <input name="label"
                                           type="text"
                                           placeholder="Friendly Label..."
                                           ng-model="newField.label"
                                           required />
                                </td>
                                <td class="control-group" ng-class="{error: newFieldForm.name.$dirty && newFieldForm.name.$invalid}">
                                    <input name="name"
                                           type="text"
                                           placeholder="Field Name..."
                                           ng-model="newField.name"
                                           required
                                           ng-pattern="/^[a-z\-_]*$/"
                                            />
                                </td>
                                <td class="control-group" ng-class="{error: newFieldForm.type.$dirty && newFieldForm.type.$invalid}">
                                    <select name="type"
                                        id="input-newField-fieldType"
                                        ng-model="newField.type"
                                        name="newField-fieldType"
                                        ng-options="option.alias as option.name for (key, option) in options.fieldTypes"
                                        required>
                                        <option value="">Select Type...</option>
                                    </select>
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <button class="btn btn-block btn-primary" ng-click="addField()" ng-disabled="!newFieldForm.$valid"><i class="icon icon-plus"></i> Add</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                    <div class="alert alert-error" ng-show="newFieldForm.name.$dirty && newFieldForm.name.$invalid && newFieldForm.name.$error.pattern">"Field Name" must only contain lowercase characters, dash and underscore.</div>

                </form>
            </div>
        </div>
    </div>
    <div class="span12">
        <div class="widget-box">
            <div class="widget-title">
                <span class="widget-icon">
                    <i class="icon-folder-open"></i>
                </span>
                <h3>Hierarchical Groups</h3>
                <div class="widget-buttons">
                    <div class="btn-group hover-show">
                        <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a tabindex="-1" ng-click="showDeletedGroups = !showDeletedGroups"><i class="icon icon-eye-open"></i> {{ showDeletedGroups && 'Hide' || 'Show' }} Deleted Groups</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="widget-content">
                <form name="newGroupForm">
                    <table class="table table-admin-fields">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Friendly Label</th>
                                <th>Field Name</th>
                                <th>Children</th>
                                <th class="actions">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody ui-sortable="attributeSortableOptions" ng-model="client.attributes">
                            <tr ng-repeat="group in client.attributes" ng-show="!group.deleted || showDeletedGroups">
                                <td class="order"><i class="icon icon-resize-vertical"></i></td>
                                <td>{{ group.label }}</td>
                                <td>{{ group.name }}</td>
                                <td>{{ group.children.length }}</td>
                                <td>
                                    <button ng-show="!group.deleted" class="btn btn-block btn-info" ng-click="editGroup( group._id )"><i class="icon icon-edit"></i> Edit</button>
                                    <button ng-show="group.deleted" class="btn btn-block btn-warning" ng-click="group.deleted = false"><i class="icon icon-plus"></i> Restore</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>&nbsp;</td>
                                <td class="control-group" ng-class="{error: newGroupForm.label.$dirty && newGroupForm.label.$invalid}">
                                    <input name="label"
                                           type="text"
                                           placeholder="Friendly Label.."
                                           ng-model="newGroup.label"
                                           required
                                           />
                                </td>
                                <td class="control-group" ng-class="{error: newGroupForm.name.$dirty && newGroupForm.name.$invalid}">
                                    <input name="name"
                                           type="text"
                                           placeholder="Field Name.."
                                           ng-model="newGroup.name"
                                           ng-pattern="/^[a-z\-_]*$/"
                                           required
                                           />
                                </td>
                                <td>&nbsp;</td>
                                <td>
                                    <button class="btn btn-block btn-primary" ng-click="addGroup()" ng-disabled="!newGroupForm.$valid"><i class="icon icon-plus"></i> Add</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
