<div class="container-fluid" id="preslog_admin_users_index">
    <div class="row-fluid">
        <div class="span8">
            <h1>User Administration</h1>
            <p>
                The below table shows all users currently registered in the Preslog system.
                <br/>User accounts represent individual logins on a per-person basis. Each person using Preslog should have their own unique login.
            </p>
        </div>
        <div class="span4 controls">
            <div class="btn-group pull-right">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon icon-cog"></i>
                    Actions
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/users/"><i class="icon icon-plus"></i> Add New User </a></li>
                    <li><a href="" ng-click="toggleDeleted()"><i class="icon icon-eye-open"></i> {{ tableParams.filter.deleted === undefined && 'Hide' || 'Show' }} Deleted Users </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">

            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-condensed">
                <tr ng-repeat="user in users">
                    <td data-title="'First Name'" sortable="firstName" filter="{ 'firstName': 'text' }">
                        {{user.firstName}}
                    </td>
                    <td data-title="'Last Name'" sortable="lastName" filter="{ 'lastName': 'text' }">
                        {{user.lastName}}
                    </td>
                    <td data-title="'Company'" sortable="company" filter="{ 'company': 'text' }">
                        {{user.company}}
                    </td>
                    <td data-title="'Email'" sortable="email" filter="{ 'email': 'text' }">
                        {{user.email}}
                    </td>
                    <td data-title="'Role'" sortable="role" filter="{ 'role': 'text' }">
                        {{user.role}}
                    </td>
                    <td title="'Actions'" filter="{ 'action': 'button' }" class="actions">
                        <a class="btn btn-block btn-info" href="/admin/users/{{user._id}}"><i class="icon icon-edit"></i> Edit</a>
                    </td>
                </tr>
            </table>

        </div>
    </div>

</div>

