<form name="userForm" id="userForm" validate-server="serverErrors">
    <nav class="navbar navbar-fixed-top" id="preslog_sub_nav">
        <div class="navbar-inner">
            <div class="container-fluid">
                <h2>My Notifications</h2>

                <ul class="nav pull-right">
                    <li>
                        <button type="button"
                                class="btn btn-success"
                                click-wait="saveNotifications()"
                                click-wait-bind="saveUserToggle"
                                ng-disabled="userForm.$invalid">
                            <i class="icon icon-loading click-wait-loader icon-white"></i>
                            <i class="icon icon-ok click-wait-static icon-white"></i>
                            Save Changes
                        </button>
                    </li>
                </ul>
            </div>
        </div><!-- /navbar-inner -->
    </nav>

    <div class="container-fluid" id="preslog_my_notify">

        <!-- Flash Alerts -->
        <div class="alert alert-success" ng-show="flashMessage.success">
            <h4>Notifications successfully updated.</h4>
        </div>
        <div class="alert alert-error" ng-show="flashMessage.error">
            <h4>There was a problem saving your notification selection.</h4>
            <div ng-show="validation.notifications" ng-bind="validation.notifications"></div>
        </div>

        <!-- Note -->
        <div class="alert alert-info">
            <strong>Note:</strong> The notification criteria is inclusive; you will receive alerts for logs that match ANY of the items selected in the criteria below.
            <br/>For instance, selecting <strong>"NSW" <u>and</u> "VIC"</strong> would result in an alert being sent for any log that affects <strong>"NSW" <u>or</u> "VIC"</strong>.
        </div>

        <!-- Client Options -->
        <div class="row-fluid" ng-repeat="client in options.notifications.clients">
            <div class="span12">
                <h2>{{client.name}}</h2>

                <p><strong>I want to will receive ...</strong></p>
                <div class="row-fluid">
                    <div class="span12">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox"
                                           ng-model="user.notifications.clients[$index].methods.email"
                                            />
                                    Email Notifications
                                </label>
                                <label class="checkbox">
                                    <input type="checkbox"
                                           ng-model="user.notifications.clients[$index].methods.sms"
                                           tooltip-placement="right"
                                           tooltip="SMS Notifications are issued for high severity events."
                                            />
                                    SMS Notifications
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <p><strong>For alerts of logs which are ...</strong></p>
                <div class="row-fluid">
                    <div class="span4">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox" ng-repeat="type in client.types">
                                    <input type="checkbox" ng-model="user.notifications.clients[$parent.$index].types[type.id]"> {{type.name}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="span8">
                        <div ng-repeat="group in client.attributes" id="hf2">
                            <div class="row-fluid">
                                <div class="span12">
                                    <legend>{{group.name}}</legend>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <div class="span6">
                                    <div
                                         hierarchy-fields="group.children"
                                         hierarchy-selected="user.notifications.clients[$parent.$index].attributes"
                                         hide-deleted="true"
                                         drag-and-drop="false"
                                         allow-edit="false" >
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>