<nav class="navbar navbar-fixed-top" id="log_nav">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <h2>Create Log / Log # P00001234</h2>

            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav pull-right">
                    <li>
                        <button class="btn btn-success" >Save Changes</button>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</nav>


<div class="container-fluid" id="log_entry">
    <div class="row-fluid">
        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Date and Time</label>
                <div class="controls">
                    <input type="text" value="8888-88-88" />
                    <input type="text" value="88:88:88" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Outage Duration</label>
                <div class="controls">
                    H <input type="text" style="width: 42px;" value="00" />
                    M <input type="text" style="width: 42px;" value="00" />
                    S <input type="text" style="width: 42px;" value="00" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Asset ID</label>
                <div class="controls">
                    <input type="text" value="ABC123456" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Program</label>
                <div class="controls">
                    <input type="text" value="My Program Name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">On-Air Impact</label>
                <div class="controls">
                    <select>
                        <option>NONE (For Information Only)</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">What has happened</label>
                <div class="controls">
                    <select>
                        <option>What has happened Message</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Why it happened</label>
                <div class="controls">
                    <select>
                        <option>Why it happened Message</option>
                    </select>
                    <input type="text" value="Equipment" placeholder="equipment" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Description </label>
                <div class="controls">
                    <input type="text" value="Short description of fault" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Details of what happened </label>
                <div class="controls">
                    <textarea>Long description of fault that occurred</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">What Action Taken </label>
                <div class="controls">
                    <textarea>Long description of fix</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Follow up / Resolution </label>
                <div class="controls">
                    <textarea>Description of follow-up tasks required</textarea>
                </div>
            </div>

        </div>

    </div>
</div>


