<nav class="navbar navbar-fixed-top" id="preslog_sub_nav">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <h2>Log # P00001234</h2>

            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav pull-right">
                    <li>
                        <button class="btn btn-success" ><i class="icon icon-ok"></i> Save Changes</button>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div>
    </div><!-- /navbar-inner -->
</nav>


<div class="container-fluid" id="preslog_log_entry">
    <div class="row-fluid">
        <div class="span8 form-horizontal log-fields">

            <div class="row-fluid">
                <div class="span6">
                    <label class="control-label">Created</label>
                    <div class="controls input-fill">
                        <input type="text" disabled value="88-88-8888 88:88:88" />
                    </div>
                    <br />
                    <label class="control-label">Created by</label>
                    <div class="controls input-fill">
                        <input type="text" disabled value="Dave Newson" />
                    </div>

                </div>
                <div class="span6">
                    <label class="control-label">Modified</label>
                    <div class="controls controls-modified">
                        <input class="input-date" type="text" disabled value="88-88-8888 88:88:88" />
                        V <input class="input-version" type="text" disabled value="3" />
                    </div>
                    <br />
                    <label class="control-label">Modified by</label>
                    <div class="controls input-fill">
                        <input type="text" disabled value="Dave Newson" />
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6 group-date">
                    <label class="control-label label-date">Date</label>
                    <div class="controls controls-date">
                        <input type="text" value="8888-88-88" />
                    </div>
                    <label class="control-label label-time">Time</label>
                    <div class="controls controls-time">
                        <input type="text" value="88:88:88" />
                    </div>
                </div>
                <div class="span6">
                    <label class="control-label">Duration</label>
                    <div class="controls">
                        <input type="text" class="input-time" value="00" /> H &nbsp;
                        <input type="text" class="input-time" value="00" /> M &nbsp;
                        <input type="text" class="input-time" value="00" /> S &nbsp;
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <label class="control-label">Program</label>
                    <div class="controls input-fill">
                        <input type="text" value="My Program Name" />
                    </div>
                </div>
                <div class="span6">
                    <label class="control-label">Asset ID</label>
                    <div class="controls input-fill">
                        <input type="text" value="ABC123456" />
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <label class="control-label">On-Air Impact</label>
                    <div class="controls">
                        <select>
                            <option>NONE (For Information Only)</option>
                        </select>
                    </div>
                </div>
                <div class="span6">

                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label">What happened</label>
                    <div class="controls">
                        <select>
                            <option>What has happened Message</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label">Why it happened</label>
                    <div class="controls">
                        <select>
                            <option>Why it happened Message</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label">Description </label>
                    <div class="controls input-fill">
                        <input type="text" value="Short description of fault" />
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label">Details of what happened </label>
                    <div class="controls textarea-fill">
                        <textarea rows="3">Long description of fault that occurred</textarea>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label">What Action Taken </label>
                    <div class="controls textarea-fill">
                        <textarea rows="3">Long description of fix</textarea>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <label class="control-label">Follow up / Resolution Comments</label>
                    <div class="controls">
                        <table class="table table-bordered table-condensed comments">
                            <tr>
                                <td class="author">
                                    <strong>Dave Newson</strong>
                                    <br/><span>88-88-8888 88:88:88</span>
                                </td>
                                <td>My comment</td>
                            </tr>
                            <tr>
                                <td class="author">
                                    <strong>Dave Newson</strong>
                                    <br/><span>88-88-8888 88:88:88</span>
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce auctor, ipsum vel euismod rhoncus, urna turpis gravida sem, in venenatis ante dui nec ligula. Morbi id hendrerit odio. Etiam viverra placerat sapien eget dictum. Maecenas non lacus sodales, suscipit nisi sed, mattis justo. Proin semper eu dolor id dictum. Vivamus mollis vel augue quis adipiscing. Etiam cursus diam sit amet tincidunt luctus. Donec ut interdum sapien. Phasellus in neque molestie, semper nibh ut, facilisis tortor.
                                    <br/>
                                    <br/>Maecenas non consequat mauris. Proin vestibulum metus quis velit porttitor gravida. Aliquam elementum mauris nec porttitor tempus. Etiam ornare libero tellus, ut semper lacus pulvinar eget. Quisque et ligula erat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean ornare laoreet hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum leo nec mollis luctus. Integer vel sodales nisl. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum risus eu nunc tempus, a sollicitudin mauris vehicula.
                                    <br/>
                                    <br/>Sed ac ligula odio. Maecenas neque mauris, ullamcorper eget dignissim ut, elementum eget leo. Nullam congue elementum lacus eget ornare. Nunc posuere volutpat odio non luctus. Morbi accumsan augue nec feugiat tincidunt. Nunc eget tristique libero. Integer a consequat massa, sit amet adipiscing lorem. Suspendisse potenti.
                                </td>
                            </tr>
                        </table>

                        <div class="textarea-fill">
                            <textarea placeholder="Enter comment..." rows="3"></textarea>
                        </div>

                    </div>
                </div>
            </div>


            <div class="row-fluid">
                <div class="span6">
                    <label class="control-label">Severity</label>
                    <div class="controls">
                        <select>
                            <option>Severity Level</option>
                        </select>
                    </div>
                </div>
                <div class="span6">
                    <label class="control-label">Logged By</label>
                    <div class="controls input-fill">
                        <input type="text" value="Logged By" />
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <label class="control-label">Accountability</label>
                    <div class="controls">
                        <select>
                            <option>Accountability</option>
                        </select>
                    </div>
                </div>
                <div class="span6">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        <select>
                            <option>Status</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"> Important Log - include in reports
                        </label>
                    </div>
                </div>
            </div>

        </div>


        <!-- Hierarchy Fields -->
        <div class="span4 hierarchy-fields">

            <div class="row-fluid">
                <div class="span12">
                    <legend>Networks</legend>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">

                    <img src="/assets/img/placeholder/ntree_single.png" />
                    <br/><img src="/assets/img/placeholder/ntree_closed.png" />
                    <br/><img src="/assets/img/placeholder/ntree_closed.png" />
                    <br/><img src="/assets/img/placeholder/ntree_closed.png" />
                    <br/><img src="/assets/img/placeholder/ntree_open.png" />

                </div>
                <div class="span6">

                    <img src="/assets/img/placeholder/ntree_single.png" />
                    <br/><img src="/assets/img/placeholder/ntree_open.png" />
                    <br/><img src="/assets/img/placeholder/ntree_closed.png" />
                    <br/><img src="/assets/img/placeholder/ntree_closed.png" />
                    <br/><img src="/assets/img/placeholder/ntree_closed.png" />

                </div>
            </div>


            <div class="row-fluid">
                <div class="span12">
                    <legend>States</legend>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span6">

                    <img src="/assets/img/placeholder/ntree_single.png" />
                    <br/><img src="/assets/img/placeholder/ntree_single.png" />
                    <br/><img src="/assets/img/placeholder/ntree_single.png" />
                    <br/><img src="/assets/img/placeholder/ntree_single.png" />

                </div>
                <div class="span6">

                    <img src="/assets/img/placeholder/ntree_single.png" />
                    <br/><img src="/assets/img/placeholder/ntree_single.png" />
                    <br/><img src="/assets/img/placeholder/ntree_single.png" />
                    <br/><img src="/assets/img/placeholder/ntree_single.png" />

                </div>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <div class="row-fluid">
        <div class="span12 text-center">
            <button class="btn btn-success"><i class="icon icon-ok"></i> Save Changes</button>
            &nbsp;
            <div class="btn-group">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon icon-fire"></i> Admin Actions
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon icon-trash"></i> Delete Log</a></li>
                </ul>
            </div>

        </div>
    </div>
</div>