<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Forgotten Password</h3>
</div>
<div class="modal-body form-horizontal">

    <p>Forgotten your password? Enter your email below, and a new password will be sent to your email address.</p>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Email Address</label>
            <div class="control">
                <input type="text"
                       placeholder="Email Address..."
                       ng-model="email"
                       required
                        />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
    <button class="btn btn-warning" ng-click="ok()">Send me a new password</button>
</div>
