<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Forgotten Your Password?</h3>
</div>
<div class="modal-body form-horizontal">

    <p>
        Enter the email address you use to login with.
        <br/> An email will be sent to you with instructions for resetting your password.
    </p>

    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Email Address</label>
            <div class="controls">
                <input type="email"
                       placeholder="example@email.com..."
                       ng-model="email"
                       required
                       validate-email
                       server-validate
                        />
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="ok()">Send me a password reset email</button>
</div>
