<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Forgotten Your Password?</h3>
</div>
<div class="modal-body form-horizontal">

    <p>Enter the email address you use to login with, below.</p>
    <p>An email will be sent to this address enabling you to reset your password.</p>

    <form class="form-horizontal" name="forgottenForm" validate-server="serverErrors">
        <div class="control-group" ng-class="{error: forgottenForm.email.$dirty && forgottenForm.email.$invalid}">
            <label class="control-label">Email Address</label>
            <div class="controls">
                <input type="email"
                       placeholder="example@email.com..."
                       ng-model="forgotten.email"
                       name="email"
                       required
                       validate-email
                        />
                <span class="help-inline" ng-show="forgottenForm.email.$dirty && forgottenForm.email.$invalid && forgottenForm.email.$error.required">You must supply an email address.</span>
                <span class="help-inline" ng-show="forgottenForm.email.$dirty && forgottenForm.email.$invalid && forgottenForm.email.$error.email">Email address in invalid.</span>
                <span class="help-inline" ng-show="forgottenForm.email.$error.validateServer" ng-bind="serverErrors.email"></span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="ok()">Send me an email to reset my password</button>
</div>
