
<div id="login">

    <div class="hero-unit">
        <div class="logo">
            <img src="http://placehold.it/800x250" alt="Mediahub Preslog">
            <p>MediaHub Presentation Fault Logging System</p>
        </div>
    </div>

    <div class="container">
        <div class="span6 login-form">
            <div class="widget-box">
                <div class="widget-title">
                        <span class="widget-icon">
                            <i class="icon-user"></i>
                        </span>
                    <h3>Login</h3>
                </div>
                <div class="widget-content">
                    <form class="form-horizontal" name="LoginForm" ng-submit="submit(user)">

                        <!-- error -->
                        <div class="control-group error">
                            <div class="controls">
                                &nbsp;<span class="help-inline" ng-show="errors.message">{{errors.message}}</span>
                            </div>
                        </div>

                        <div class="control-group" ng-class="{error:errors.email}">
                            <label class="control-label" for="inputEmail">Email Address</label>
                            <div class="controls">
                                <input type="email" id="inputEmail" placeholder="Email Address" ng-model="user.email" required>
                                <br/><span class="help-inline">{{errors.email}}&nbsp;</span>
                            </div>
                        </div>
                        <div class="control-group" ng-class="{error:errors.password}">
                            <label class="control-label" for="inputPassword">Password</label>
                            <div class="controls">
                                <input type="password" id="inputPassword" placeholder="Password" ng-model="user.password" required>
                                <br/><span class="help-inline">{{errors.password}}&nbsp;</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input type="checkbox" ng-model="user.remember"> Remember me
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>