<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Reset Your Password</h3>
</div>
<div class="modal-body form-horizontal">

    <p>
        To change your password, enter a new password below.
        <br/> Your new password must be at least 6 characters and contain both letters and numbers.
    </p>

    <form class="form-horizontal" name="passwordForm" validate-server="serverErrors">

        <div class="control-group" ng-class="{error: passwordForm.passwordConfirm.$dirty && passwordForm.passwordConfirm.$invalid && passwordForm.passwordConfirm.$invalid}">
            <label class="control-label" for="inputNewPassword">New Password</label>
            <div class="controls">
                <input type="password"
                       id="inputNewPassword"
                       name="password"
                       placeholder="Password.."
                       ng-model="user.password"
                       required
                        />
            </div>
        </div>
        <div class="control-group" ng-class="{error: passwordForm.passwordConfirm.$dirty && passwordForm.passwordConfirm.$invalid && passwordForm.passwordConfirm.$invalid}">
            <label class="control-label" for="inputNewPassword2">Confirm Password</label>
            <div class="controls">
                <input type="password"
                       id="inputNewPassword2"
                       name="passwordConfirm"
                       validate-password="inputNewPassword"
                       placeholder="Password.."
                       ng-model="user.passwordConfirm"
                       required
                        />
                <span class="help-inline" ng-show="passwordForm.passwordConfirm.$dirty && passwordForm.passwordConfirm.$invalid && passwordForm.passwordConfirm.$error.validatePassword">Passwords do not match</span>
                <span class="help-inline" ng-show="passwordForm.passwordConfirm.$dirty && passwordForm.passwordConfirm.$invalid && passwordForm.password.$error.validateServer" ng-bind="validation.password"></span>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-disabled="!(passwordForm.passwordConfirm.$dirty && passwordForm.password.$dirty ) || passwordForm.$invalid" ng-click="ok()">Change Password</button>
</div>
