<div id="preslog_sidebar">

    <ul class="nav nav-tabs nav-stacked">
        <li class="active"><a href="/dashboard/log-list">List Report<i class="icon-chevron-right"></i></a></li>
        <li><a href="/dashboard/log-list">Daily Logs<i class="icon-chevron-right"></i></a></li>
        <li><a href="/dashboard/log-list">Weekly Logs<i class="icon-chevron-right"></i></a></li>
        <li><a href="/dashboard/log-list">Unqualified Logs<i class="icon-chevron-right"></i></a></li>
    </ul>

    <ul class="nav nav-tabs nav-stacked">
        <li><a href="/dashboard/dashboard">My Dashboard<i class="icon-chevron-right"></i></a></li>
        <li><a href="/dashboard/dashboard">Another Dashboard<i class="icon-chevron-right"></i></a></li>
        <li><a href="/dashboard/dashboard">Last Dashboard<i class="icon-chevron-right"></i></a></li>
    </ul>
</div>
<div class="container-fluid" id="preslog_content">
    <div class="row-fluid">
        <div class="span12">

            <h1>Unqualified Logs</h1>

            <div class="row-fluid">
                <div class="span12">

                    <div class="widget-box">
                        <div class="widget-title">
                            <span class="widget-icon">
                                <i class="icon-signal"></i>
                            </span>
                            <h3>Widget Logs</h3>
                            <div class="widget-buttons">
                                <div class="btn-group hover-show">
                                    <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                                        Options
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a tabindex="-1" href="#">Refresh</a></li>
                                        <li class="disabled"><a tabindex="-1" href="#">Edit</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="widget-content">

                            <p>Showing <strong>3</strong> of <strong>3</strong> logs</p>

                            <table class="table table-condensed log-list">
                                <tbody onclick="parent.location='/log'">
                                <tr>
                                    <td><label>Log ID</label><div>1234</div></td>
                                    <td><label>Program</label><div>My Show Name Here</div></td>
                                    <td><label>Networks</label><div>Network List Goes here</div></td>
                                </tr>
                                <tr>
                                    <td><label>Date</label><div>88-88-8888 88:88:88</div></td>
                                    <td><label>Description</label><div class="truncate">This is a long description This is a long description <br/> This is a long description This is a long description</div></td>
                                    <td><label>Details</label><div>This is a long details item</div></td>
                                </tr>
                                <tr>
                                    <td><label>Duration</label><div>1h 57m 3s</div></td>
                                    <td><label>Asset ID</label><div>ABC23456789</div></td>
                                    <td><label>Logged By</label><div>Dave Newson</div></td>
                                </tr>
                                <tr>
                                    <td><label>Effect</label><div>Commercial Hotlist (CHL)</div></td>
                                    <td><label>Cause</label><div>Asset Failed to Arrive</div></td>
                                    <td><label>Accountability</label><div>Unresolved</div></td>
                                </tr>
                                <tr>
                                    <td><label>Severity</label><div>Level 1</div></td>
                                    <td><label>Impact</label><div>NEGATIVE (OUTAGE)</div></td>
                                    <td><label>Status</label><div>Unresolved</div></td>
                                </tr>
                                </tbody>

                                <tbody onclick="parent.location='/log'">
                                <tr>
                                    <td><label>Log ID</label><div>1234</div></td>
                                    <td><label>Program</label><div>My Show Name Here</div></td>
                                    <td><label>Networks</label><div>Network List Goes here</div></td>
                                </tr>
                                <tr>
                                    <td><label>Date</label><div>88-88-8888 88:88:88</div></td>
                                    <td><label>Description</label><div class="truncate">This is a long description This is a long description <br/> This is a long description This is a long description</div></td>
                                    <td><label>Details</label><div>This is a long details item</div></td>
                                </tr>
                                <tr>
                                    <td><label>Duration</label><div>1h 57m 3s</div></td>
                                    <td><label>Asset ID</label><div>ABC23456789</div></td>
                                    <td><label>Logged By</label><div>Dave Newson</div></td>
                                </tr>
                                <tr>
                                    <td><label>Effect</label><div>Commercial Hotlist (CHL)</div></td>
                                    <td><label>Cause</label><div>Asset Failed to Arrive</div></td>
                                    <td><label>Accountability</label><div>Unresolved</div></td>
                                </tr>
                                <tr>
                                    <td><label>Severity</label><div>Level 1</div></td>
                                    <td><label>Impact</label><div>NEGATIVE (OUTAGE)</div></td>
                                    <td><label>Status</label><div>Unresolved</div></td>
                                </tr>
                                </tbody>

                                <tbody onclick="parent.location='/log'">
                                <tr>
                                    <td><label>Log ID</label><div>1234</div></td>
                                    <td><label>Program</label><div>My Show Name Here</div></td>
                                    <td><label>Networks</label><div>Network List Goes here</div></td>
                                </tr>
                                <tr>
                                    <td><label>Date</label><div>88-88-8888 88:88:88</div></td>
                                    <td><label>Description</label><div class="truncate">This is a long description This is a long description <br/> This is a long description This is a long description</div></td>
                                    <td><label>Details</label><div>This is a long details item</div></td>
                                </tr>
                                <tr>
                                    <td><label>Duration</label><div>1h 57m 3s</div></td>
                                    <td><label>Asset ID</label><div>ABC23456789</div></td>
                                    <td><label>Logged By</label><div>Dave Newson</div></td>
                                </tr>
                                <tr>
                                    <td><label>Effect</label><div>Commercial Hotlist (CHL)</div></td>
                                    <td><label>Cause</label><div>Asset Failed to Arrive</div></td>
                                    <td><label>Accountability</label><div>Unresolved</div></td>
                                </tr>
                                <tr>
                                    <td><label>Severity</label><div>Level 1</div></td>
                                    <td><label>Impact</label><div>NEGATIVE (OUTAGE)</div></td>
                                    <td><label>Status</label><div>Unresolved</div></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>