<div id="ConfirmModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="icon icon-remove"></i></button>
        <h3 id="myModalLabel">Delete Log?</h3>
    </div>
    <div class="modal-body form-horizontal">
       <p>When deleted this log will no longer show up on any dashboard in the search.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" ng-click="ok()">Delete</button>
    </div>
</div>