<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Edit log list widget</h3>
</div>
<div class="modal-body form-horizontal" id="editModalWidget">
    <div class="control-group">
        <label class="control-label">Name </label>
        <div class="controls">
            <input type="text" placeholder="Name..." value="" ng-model="widget.name"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Search Query</label>
        <div class="controls">
            <textarea class="query" placeholder="Filter..." ng-model="widget.details.query"></textarea>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">Refresh Interval </label>
        <div class="controls">
            <input type="text" placeholder="Minutes..." value="" ng-model="widget.data.refresh" />
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="saveWidget()">Save</button>
</div>