<div class="modal-header">
    <button type="button"  ng-click="dismiss()" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Edit Field</h3>
    <span> {{ options.description }} </span>
</div>
<div class="modal-body">
    <form name="fieldForm" id="admin_client_edit_field" class="form-horizontal" ng-include="'modules/clients/modals/fields/'+field.type+'.tpl.html'">
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left"
            ng-show="!field.newField"
            ng-click="remove()"
            ng-confirm-click="Are you sure you want to delete this field?"><i class="icon icon-remove"></i> Delete Field</button>
    <button class="btn"
            ng-click="dismiss()">Cancel</button>
    <button class="btn btn-success"
            ng-click="save()"
            ng-disabled="fieldForm.$invalid"
            >Save changes</button>
</div>