<div class="modal-header">
    <button type="button"  ng-click="dismiss()" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon icon-remove"></i></button>
    <h3 id="myModalLabel">Edit Hierarchy Group</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span8">
            <div class="form-inline">
                <label>Name:</label>
                <input type="text" class="input-large" id="addAttr" ng-model="$parent.newAttrName"/>
                <button class="btn btn-primary" ng-click="addAttr()"><i class="icon-plus"></i>Add</button>
            </div>
            <div class="form-inline">
                <label class="checkbox">
                    <input
                            type="checkbox"
                            ng-model="group.network" />
                    Network group
                </label>
            </div>
        </div>
        <div class="span4">
            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" gref="#">
                    With selected
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a ng-click="deleteAttr()"><i class="icon icon-remove"></i> Delete</a></li>
                    <li><a ng-click="restoreAttr()"><i class="icon icon-plus"></i> Restore</a></li>
                    <li ng-show="group.network"><a ng-click="setLiveDate()"><i class="icon icon-calendar"></i> Set Live Date</a></li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <div class="row-fluid">
        <div hierarchy-fields="group.children" hierarchy-selected="hierarchySelected" hide-deleted="false" drag-and-drop="true" allow-edit="true" ></div>
    </div>
</div>
<div class="modal-footer">
    <div class="row-fluid">
        <button class="btn btn-danger pull-left" ng-show="!group.newGroup" ng-click="remove()" ng-confirm-click="Are you sure you want to delete this hierarchy group?"><i class="icon icon-remove"></i> Delete Entire Hierarchy</button>
        <button class="btn" ng-click="dismiss()">Discard changes</button>
        <button class="btn btn-success" ng-click="save()">Save changes</button>
    </div>
</div>


