<div class="span6 control-group group-date" ng-class="{error: logForm.fields_{{options._id}}.$invalid}">
    <input
            id="fields_{{options._id}}"
            type="hidden"
            ng-model="log.data.datetime"
            />
    <label class="control-label label-date">{{options.label}}</label>
    <div class="controls controls-date">
        <input
                id="field_{{options._id}}_date"
                type="text"
                datetime="date"
                datetime-datepicker
                ng-model="log.data.datetime"
                ng-disabled="options.readonly"
                placeholder="DD/MM/YYYY"
                data-date-format="dd/mm/yyyy"
                />
    </div>
    <label class="control-label label-time">Time</label>
    <div class="controls controls-time">
        <input
                id="field_{{options._id}}_time"
                type="text"
                required
                minlength="8"
                maxlength="8"
                ngPattern="/[0-2][0-9]:[0-5][0-9]:[0-5][0-9]/"
                datetime="time"
                ng-model="log.data.datetime"
                ng-disabled="options.readonly"
                placeholder="H:M:S"
                />
    </div>
</div>