<div class="span6 group-date control-group">
    <label class="control-label label-date">{{options.name}}</label>
    <div class="controls controls-date">
        <input
                type="text"
                id="field_{{options._id}}_date"
                name="field_{{options._id}_date}"
                ng-model="log.data.datetime.sec"
                required
                validate-server
                />
    </div>
    <label class="control-label label-time">Time</label>
    <div class="controls controls-time">
        <input
                type="text"
                id="field_{{options._id}}_time"
                name="field_{{options._id}}_time"
                ng-model="log.data.datetime.sec"
                required
                validate-server
                />
    </div>
</div>