<div class="span6 group-date control-group">
    <label class="control-label label-date">Date</label>
    <div class="controls controls-date">
        <input
                type="text"
                ng-model="log.data.datetime"
                required
                validate-server
                />
    </div>
    <label class="control-label label-time">Time</label>
    <div class="controls controls-time">
        <input
                type="text"
                ng-model="log.data.datetime"
                required
                validate-server
                />
    </div>
</div>