<div class="span6 control-group" ng-class="{error: logForm.fields_{{options._id}}.$invalid}">
    <input
            id="fields_{{options._id}}"
            type="hidden"
            ng-model="log.data.seconds"
            />
    <label class="control-label">{{options.label}}</label>
    <div class="controls">
        <input inputduration="h" inputdurationshared="log.data.shareseconds" type="text" class="input-time" ng-model="log.data.seconds" /> H &nbsp;
        <input inputduration="m" inputdurationshared="log.data.shareseconds" type="text" class="input-time" ng-model="log.data.seconds" /> M &nbsp;
        <input inputduration="s" inputdurationshared="log.data.shareseconds" type="text" class="input-time" ng-model="log.data.seconds" /> S &nbsp;
    </div>
</div>