    <div class="span6" ng-show="log.data.created">
        <label class="control-label">Created</label>
        <div class="controls input-fill">
            <input-field-loginfo-datetime
                type="text"
                disabled
                ng-model="log.data.created"
                />
        </div>
        <br />
        <label class="control-label">Created by</label>
        <div class="controls input-fill">
            <input type="text"
                   disabled
                   value="{{log.data.created_user.firstName}} {{log.data.created_user.lastName}}"
                    />
        </div>
    </div>

    <div class="span6" ng-show="log.data.created">
        <label class="control-label">Modified</label>
        <div class="controls controls-modified">
            <span>
                <input-field-loginfo-datetime
                    class="input-date"
                    type="text"
                    disabled
                    ng-model="log.data.modified"
                    />
            </span>
            V <input class="input-version"
                     type="text"
                     disabled
                     value="{{log.data.version}}"
                />
        </div>
        <br />
        <label class="control-label">Modified by</label>
        <div class="controls input-fill">
            <input type="text"
                   disabled
                   value="{{log.data.modified_user.firstName}} {{log.data.modified_user.lastName}}"
                    />
        </div>
    </div>
